


*{
padding: 0px;
margin: 0px;
}
body{
    background: #000;
    color: #fff;
    font-family: Algerian;
}
.banner{
width: 100px;
height: 100vh;
display: flex;
}
.left-box{
    flex-basis: 20%;
    background: #002e52;
}
.right-box{
flex-basis: 80%;
position: relative;
}
.logo{
    width: 160px

}
.wrapper{
    width: 70%;
    margin: 10px;
}
.search-box{
display: flex;
background: #fff;
padding: 10px 7px;
border-radius: 20px;
length: 10px;
}
.search-box img{
    width: 19px;
    margin: auto 5px;

}
.search-box input{
    width: 80%;
    border: 0;
    outline: none;
    background: transparent;
}
.vertical-line{
    width: 2px;
    height: 29vh;
    background: #004e52;
    margin: auto 10px;
}
.wrapper ul li{
    list-style: none;
    margin: 10px 0; 
}
.wrapper ul li a{
    color: #797979;
    font-size: 15px;
    text-decoration: none;
}
nav{
    margin-top: 60px;
    margin-left: 60px;

}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 60px;
}
nav ul li a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}
.right-box h2{
    margin-top: 5%;
    margin-left: 50px;
    font-size: 40px;
    letter-spacing: 3px;
}
.robot{
    position: absolute;
    bottom: 0;
    left: 90%;
    height: 90%;

} 
.robot img{
height: 100%;
}
.robot h1{
    position: absolute;
    top: 100px;
    right: -30px;
    font-size: 130px;
    color: #e2e2e2;
    opacity: 0.3;
    z-index: 7;
}
.features{
      position: absolute;
      bottom: 17%;
      left: -180px
}
.features img{
width: 25px;
margin-left: 40px;
}
.features div{
    display: flex;
     align-items: center;
     margin-bottom: 30px; 
}
.features div:nth-child(2){
    margin-left: 35px;
}
.features div:nth-child(3){
    margin-left: 38px;
.circle{
 width: 180px;
 height: 180px;
 border: 40px #fff
 border-radius: 50%;

}    




